<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="sablonas.xhtml">

	<ui:define name="turinys">
		<h:form>
			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />
			<p:panel id="basic" header="Traukinys" style="margin-bottom:20px">
				<h:panelGrid id="grid" columns="3" cellpadding="5">
					<h:outputLabel for="numeris" value="Traukinio numeris"></h:outputLabel>
					<h:inputText id="traukinio numeris" value="#{addVagonasPage.newVagonas.numeris}">
						<f:validateBean />
					</h:inputText>
					<p:message for="numeris" />
					<h:outputLabel for="pagaminimoData"
						value="Pagaminimo data (YYY-MM-DD)"></h:outputLabel>

					<h:inputText id="pagaminimoData"
						value="#{addVagonasPage.newVagonas.pagaminimoData}"
						converterMessage="Naudoti formatą YYYY-MM-DD">
						<f:convertDateTime pattern="yyyy-M-d" />
					</h:inputText>
					<p:message for="pagaminimoData" />
					
					<h:inputText id="imone"
						value="#{addVagonasPage.newVagonas.imone}"
						converterMessage="Naudoti formatą YYYY-MM-DD">
						<f:convertDateTime pattern="yyyy-M-d" />
					</h:inputText>
					<p:message for="pagaminimoData" />					
					
				</h:panelGrid>

				<h:commandButton action="#{addVagonasPage.addNew}" value="Pridėti naują"></h:commandButton>
			</p:panel>
		</h:form>

	</ui:define>

	<ui:define name="pavadinimas">
 	 	Pridėti naują traukinį
 	 </ui:define>

</ui:composition>
