<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Traukinių sąstato valdymo programa - <ui:insert name="pavadinimas">
  		Pavadinimo nera
  	</ui:insert>
	</title>
	<!--   <h:outputStylesheet library="mano" name="failas.css"></h:outputStylesheet> -->
</h:head>
<h:body>
	<div id="container">
		<h:form>
			<p:tabMenu>
				<p:menuitem value="Traukiniai" outcome="list-traukiniai"
					icon="ui-icon-star">
				</p:menuitem>
			</p:tabMenu>
		</h:form>
		<div id="contents">
			<ui:insert name="turinys">
		  		Turinio nera
		  	</ui:insert>
		</div>
	</div>
</h:body>
</html>
