<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" template="sablonas.xhtml">

	<ui:define name="turinys">
		<h:form>
			
			<p:messages id="messages" showDetail="false" autoUpdate="true"
				closable="true" />

			<p:dataTable value="#{traukinysListPage.traukinysList}" var="traukinys">
				<p:column headerText="numeris">
					<h:outputText value="#{traukinys.numeris}" />
				</p:column>

				<p:column headerText="Name">
					<h:outputText value="#{traukinys.name}" />
				</p:column>

				<p:column headerText="PagaminimoData">
					<h:outputText value="#{traukinys.pagaminimoData}" />
				</p:column>

				<p:column headerText="Vagonai">
					<h:dataTable value="#{traukinys.vagonai}" var="vagonas" border="0">
						<h:column>
		  						#{vagonas.bazinisVagonas} (#{vagonas.gamintojas})
	  					</h:column>
					</h:dataTable>
				</p:column>

				<p:column headerText="">
					<h:commandButton value="Trinti"
						action="#{traukinysListPage.deleteSelected(traukinys)}" />
					<h:commandButton value="Pridėti vagoną"
						action="#{traukinysListPage.showAddVagonasPage(traukinys)}" />
				</p:column>
			</p:dataTable>


		</h:form>


	</ui:define>

	<ui:define name="pavadinimas">
 	 	Pridėti naują vagoną
 	 </ui:define>

</ui:composition>
